NODE_ENV=development

SERVICE_NAME=notification-service
SERVICE_VERSION=0.0.0

HOST=0.0.0.0
PORT=4006

LOG_LEVEL=info

DATABASE_URL=postgres://postgres:postgres@localhost:5432/notification_service

FCM_JSON_PATH=./.secrets/firebase.json